* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 350px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.c-calculator {
  width: 80%;
  height: 75%;
  margin: 0 auto;
  font-size: 10px;
}

.textview {
  border-radius: 0;
  border: none;
  padding: 5px 0;
  width: 103%;
  height: 45px;
  font-size: 25px;
  
}

.c-calculator--keyboard {
  width: 100%;
  height: 100%;
}

.c-calculator--keyboard tr td {
  padding: 0;
}

.c-calculator--keyboard tr td input[type="button"] {
  width: 70px;
  min-height: 70px;
  padding: 0;
  border-radius: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: background-color .3s ease-out;
}

.c-calculator--keyboard tr td input[type="button"]:hover {
   background-color: rgba(255, 255, 255, 0.4);
}

.equal-sign {
  height: 99%;
}